* {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #3B052E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 95%;
}

header {
    height: 200px;
    font-size: 200%;
    padding-top: 50px;
    background-color: #F00029;
    border-bottom: 2px solid #6E6E70;
}

nav {
    padding: 25px 0px 25px 0px;
    background-color: #5C2642;
    border-bottom: 2px solid #6E6E70;
}

[class^="col-"] {
    float: left;
    height: max-content;
    padding: auto;
    padding: 25px 0px 25px 0px;
    height: 100%;
}

.col-1 {
    width: 25%;
    background-color: #DBCFC7;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 25%;
    background-color: #7D2E0A;
}

footer {
    clear: both;
    background-color: #896276;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #6E6E70;
}

@media screen and (max-width: 600px) {
    [class^="col-"] {
        width: 100%;
        clear: both;
    }

    body {
        background-color: #6E6E70;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0rem;
        font-size: 0em;
    }



}