body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tableColor {
    width: 100%;
    padding-top: 10px;
}

.JacksonRed {
    background-color: #F00029;
    color: #ffffff;

}

.DarkPlum {
    background-color: #3B052E;
    color: #ffffff;

}

.Sand {
    background-color: #D4B5A3;
    color: #000000;

}

.LightPlum {
    background-color: #5C2642;
    color: #ffffff;

}

.Grey {
    background-color: #6E6E70;
    color: #ffffff;

}

.WebDevRed {
    background-color: #EB0028;
    color: #ffffff;

}

.Taupe {
    background-color: #DBCFC7;
    color: #000000;
}

.LightPlum70 {
    background-color: #896276;
    color: #ffffff;
}

.OrangeShade {
    background: #7D2E0A;
    color: #ffffff;
}


.YellowOrangeShade {
    background: #804A0F;
    color: #ffffff;
}

.YellowShade {
    background: #806E21;
    color: #ffffff;
}

.LimeShade {
    background: #4F7012;
    color: #ffffff;
}

.TealShade {
    background: #1F6659;
    color: #ffffff;
}

.LightBlueShade {
    background: #264F70;
    color: #ffffff;
}

.BlueShade {
    background: #262959;
    color: #ffffff;
}

.Orange {
    background: #FA5C17;
    color: #ffffff;
}


.YellowOrange {
    background: #FF941C;
    color: #ffffff;
}

.Yellow {
    background: #FFDB42;
    color: #000000;
}

.Lime {
    background: #9EDE21;
    color: #000000;
}

.Teal {
    background: #3BCCB0;
    color: #000000;
}

.LightBlue {
    background: #4A9EE3;
    color: #ffffff;
}

.Blue {
    background: #4A54B2;
    color: #ffffff;
}

.OrangeTint {
    background: #FA9E73;
    color: #000000;
}


.YellowOrangeTint {
    background: #FFBF78;
    color: #000000;
}

.YellowTint {
    background: #FFE88F;
    color: #000000;
}

.LimeTint {
    background: #C4EB7A;
    color: #000000;
}

.TealTint {
    background: #8AE0D1;
    color: #000000;
}

.LightBlueTint {
    background: #91C4ED;
    color: #000000;
}

.BlueTint {
    background: #9199D1;
    color: #ffffff;
}

footer {
    color: #FFBF78;
    background-color: #262959;
    text-align: center;
    position: fixed;
    padding: 15px;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 3px solid #4A54B2;
}

article {
    float: left;
    padding: 0px;
    width: auto;
    border: 0px solid black;
    margin: 0px;
    text-align: center;
    vertical-align: auto;
}

.ArtColorMain {
    width: 25%;
}

.ArtColorAccent {
    width: 14.285%;
}

section {
    clear: left;
}

h4 {
    height: 10px;
}